tei_frame.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI from frame annotations</title>
        <author>Nori Hayashi</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.</p>
          </licence>
          <p> TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref> . </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare exemplars by SPQR and LR.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.1.2" when="2025-05-15T15:03:14.087Z">
          <desc> File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.1.2" when="2025-05-19T16:43:00.525Z">
          <desc> File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.1.2" when="2025-05-19T16:58:17.280Z">
          <desc> File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      <head>A Minimal TEI Customization</head>
      <p> This TEI ODD defines a TEI customization that is as minimal as possible and the schema generated from it will validate a document that is minimally valid against the TEI scheme. It includes only the ten required elements: <list rend="numbered">
          <item>
            <gi>teiHeader</gi> from the header module to store required metadata </item>
          <item>
            <gi>fileDesc</gi> from the header module to record information about this file </item>
          <item>
            <gi>titleStmt</gi> from the header module to record information about the title </item>
          <item>
            <gi>publicationStmt</gi> from the header module to detail how it is published </item>
          <item>
            <gi>sourceDesc</gi> from the header module to record where it is from </item>
          <item>
            <gi>p</gi> from the core module for use in the header and the body </item>
          <item>
            <gi>title</gi> from the core module for use in the titleStmt </item>
          <item>
            <gi>TEI</gi> from the textstructure module because what is a TEI file without that? </item>
          <item>
            <gi>text</gi> from the textstructure module to hold some text </item>
          <item>
            <gi>body</gi> from the textstructure module as a place to put that text </item>
        </list>
      </p>
      <schemaSpec ident="frame" start="TEI" prefix="tei_" targetLang="en" docLang="en">
        <constraintDecl scheme="schematron" queryBinding="xslt3">
          <sch:ns prefix="tei" uri="http://www.tei-c.org/ns/1.0" />
        </constraintDecl>
        <!-- required minimal header elements -->
        <moduleRef key="corpus" />
        <moduleRef key="header" /> <!-- required core elements (p and title for use in titleStmt) -->
        <moduleRef key="core" /> <!-- required textstructure elements (TEI, text, and body) -->
        <moduleRef key="textstructure" /> <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
        <moduleRef key="tei" />
        <moduleRef key="tagdocs" />
        <moduleRef key="namesdates" />
        <moduleRef key="analysis" include="s" />
        <moduleRef key="linking" include="standOff" />
        <moduleSpec ident="frame" mode="add" />
        <elementSpec ident="attitude" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <altIdent>att</altIdent>
          <desc versionDate="2025-05-24" xml:lang="en">specify expressions that express attitudes.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">態度表現をマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.holdable" />
            <memberOf key="att.targetable" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
          <attList>
            <attDef ident="pol" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <datatype>
                <dataRef key="teidata.enumerated" />
              </datatype>
              <valList type="closed">
                <valItem ident="+" />
                <valItem ident="-" />
                <valItem ident="+-" />
                <valItem ident="-+" />
                <valItem ident="0" />
              </valList>
            </attDef>
            <attDef ident="frame" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-05-24" xml:lang="en">The frame role that this attitude belongs to. Omittable if it is contained in a frame role annotation.
              </desc>
              <desc versionDate="2025-05-24" xml:lang="ja">この態度表現が結び付けられる先のフレーム役割です。フレーム役割の注釈内に含まれる場合，指定の必要はありません。</desc>
              <datatype>
                <dataRef name="string" />
              </datatype>
              <valList />
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="point" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies one of the points of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">フレームの構成要素として，問題とする事象マークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="subPoint" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies one of the sub-points of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">フレームの構成要素として，サブ問題をマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="blame" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies a blame of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="jp">フレームの構成要素として，責任の帰着をマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="att.targetable" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="cause" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies a cause of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="jp">フレームの構成要素として，問題の原因をマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="att.causation" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="conseq" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies one of the conseqs of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="jp">フレームの構成要素として，問題とする事象の発展の見込みをマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="att.causation" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="treatment" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies a proposal of treatment of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="jp">フレームの構成要素として，問題に対する解決策をマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="att.targetable" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="frameSet" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies that the text segment belongs to one or more frame roles.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">複数のフレーム役割が同一のテキストの部分に割り当てられるとき，そのテキストの当該部分を指定するためのものです。当該箇所をこのタグで囲み，このタグの内側に空の役割タグを加えることで，加えられた全ての役割タグが当該箇所に関連付けられます。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <sequence>
              <classRef key="model.frameRole" minOccurs="1" maxOccurs="unbounded" />
              <macroRef key="macro.paraContent" />
            </sequence>
          </content>
        </elementSpec>
        <elementSpec ident="kw" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">
            specifies a keyword that represents a category of a frame (role).
            This can spare the need to explicitly specify the category attribute of a frame role.
          </desc>
          <desc versionDate="2025-05-24" xml:lang="ja">
            フレーム（役割）の範疇を表すキーワードを指定します。
            これにより，フレーム役割の`category`属性を明示的に指定する必要がなくなります。
          </desc>
          <classes>
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="from" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">
            specifies a holder of a frame role or an attitude.
            This can spare the need to explicitly specify the `from` attribute of a frame role or an attitude.
          </desc>
          <desc versionDate="2025-05-24" xml:lang="ja">
            フレーム役割や態度の保持者を指定します。
            これにより，フレーム役割や態度の`from`属性を明示的に指定する必要がなくなります。
          </desc>
          <classes>
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="to" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">
            specifies a target of an attitude.
            This can spare the need to explicitly specify the `to` attribute of an attitude.
          </desc>
          <desc versionDate="2025-05-24" xml:lang="ja">
            態度の向け先を指定します。
            これにより，態度の`to`属性を明示的に指定する必要がなくなります。
          </desc>
          <classes>
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <classSpec ident="att.holdable" type="atts" mode="add" module="frame">
          <desc></desc>
          <classes />
          <attList>
            <attDef ident="from" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-05-24" xml:lang="en">The actor that bears the content of this frame role in mimd. It may be explicitly specified in the text.</desc>
              <desc versionDate="2025-05-24" xml:lang="ja">内容を思っている主体です。テキスト内の語句で推定できる場合，指定の必要はありません。</desc>
              <datatype>
                <dataRef name="string" />
              </datatype>
              <valDesc versionDate="2025-05-24" xml:lang="en">An entity.
              </valDesc>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.targetable" type="atts" mode="add" module="frame">
          <classes />
          <attList>
            <attDef ident="to" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <datatype>
                <dataRef name="string" />
              </datatype>
              <valdesc versionDate="2025-05-24" xml:lang="en">The entity that the attitude is directed to. Omittable when specified in text.
              </valDesc>
              <valdesc versionDate="2025-05-24" xml:lang="ja">態度の向け先の主体です。テキスト内の語句で推定できる場合，指定の必要はありません。
              </valDesc>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.frameRole" type="atts" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">defines common attributes for frame roles.</desc>
          <desc versionDate="2025-05-24" xml:lang="en">フレーム役割に共通の属性を定義します。</desc>
          <classes>
            <memberOf key="att.holdable" />
          </classes>
          <attList>
            <attDef ident="name" usage="req" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-05-24" xml:lang="en">The name of the frame role. Unique in the document.</desc>
              <desc versionDate="2025-05-24" xml:lang="ja">フレームの名前です。この名前は，ドキュメント内において一義的です。
              </desc>
              <datatype>
                <dataRef name="string" />
              </datatype>
              <valdesc versionDate="2025-05-24" xml:lang="en">A string that begins with an alphabet and consists of alphabets, numbers, and the underscore.
              </valDesc>
              <valdesc versionDate="2025-05-24" xml:lang="jp">アルファベットで始まり，アルファベット，数字，アンダースコアからなる文字列です。
              </valDesc>
            </attDef>
            <attDef ident="category" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-05-24" xml:lang="en">The category of the frame role. It may be inferred by keywords within and be spared from explicit specification.</desc>
              <desc versionDate="2025-05-24" xml:lang="ja">フレームが属する範疇です。テキスト内の語句で推定できる場合，指定の必要はありません。</desc>
              <datatype>
                <dataRef name="string" />
              </datatype>
              <valdesc versionDate="2025-05-24" xml:lang="en">Labels delimited by commas.
              </valDesc>
              <valdesc versionDate="2025-05-24" xml:lang="jp">ラベルの列で，`,`で区切られたものです。
              </valDesc>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.causation" type="atts" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies the existence of (spatio-temporal) causation.</desc>
          <classes />
          <attList>
            <attDef ident="causative" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <datatype>
                <dataRef name="boolean" />
              </datatype>
              <valdesc versionDate="2025-05-24" xml:lang="en">true if the frame is causative. Defaults to true.
              </valDesc>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="model.frameRole" type="model" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">groups elements that represent frame roles.</desc>
          <classes />
        </classSpec>
        <constraintSpec ident="frameSet-frameRole-empty" scheme="schematron">
          <constraint>
            <sch:rule context="tei:frameSet/(tei:point | tei:blame | tei:cause | tei:conseq | tei:treatment)">
              <sch:assert test="not(node())">A frame role in a frameSet should contain nothing.</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>