tei_frame.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:eg="http://www.tei-c.org/ns/Examples">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI from frame annotations</title>
        <author>Nori Hayashi</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.</p>
          </licence>
          <p> TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref> . </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare exemplars by SPQR and LR.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.1.2" when="2025-05-15T15:03:14.087Z">
          <desc> File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.1.2" when="2025-05-19T16:43:00.525Z">
          <desc> File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.1.2" when="2025-05-19T16:58:17.280Z">
          <desc> File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref>
          </desc>
        </application>
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      <head xml:lang="en"><gi>TEI_frame</gi>: a TEI P5 extension for the framing analysis</head>
      <head xml:lang="ja"><gi>TEI_frame</gi>：フレーム分析のためのTEI P5拡張</head>
      <p xml:lang="en">This TEI ODD defines a TEI extension that enables the framing analysis following the formulation by Entman (1993).</p>
      <p xml:lang="ja">このTEI ODDは，Entman (1993) によって定式化された形でのフレーム分析を可能とするように，TEI P5を拡張したものです。</p>

      <p xml:lang="en">The framing analysis is a text/media analysis that delineates the narrative strutures and biases underlying a journalistic text that can influence readers and public opinions. We adopt the definition by Entman (1993: 52), where he says: <quote> To frame is to <hi rend="italic">select some aspects of a perceived reality and make them more salient in a communicating text, in such a way as to promote a particular problem definition, causal interpretation, moral evaluation, and/or treatment recommendation</hi> for the item described. [...] Frames, then, <hi rend="italic">define problems</hi> --- determine what a causal agent is doing with what costs and benefits, usually measured in terms of common cultural values; <lb /> <hi rend="italic">diagnose causes</hi> --- identify the forces creating the problem; <lb /> <hi rend="italic">make moral judgments</hi> --- evaluate causal agents and their effects; and <lb /> <hi rend="italic">suggest remedies</hi> --- offer and justify treatments for the problems and predict their likely effects. </quote>
      </p>
      <p xml:lang="ja"> フレーム分析は，報道テキストに潜むナラティブ構造やバイアスで，読者や輿論に影響を与えうるものを明らかにするテキスト／メディア分析です。 ここでは，Entman (1993: 52) にしたがって，フレームの要素を定義します。<quote xml:lang="en"> To frame is to <hi rend="italic">select some aspects of a perceived reality and make them more salient in a communicating text, in such a way as to promote a particular problem definition, causal interpretation, moral evaluation, and/or treatment recommendation</hi> for the item described. [...] Frames, then, <hi rend="italic">define problems</hi> --- determine what a causal agent is doing with what costs and benefits, usually measured in terms of common cultural values; <lb /> <hi rend="italic">diagnose causes</hi> --- identify the forces creating the problem; <lb /> <hi rend="italic">make moral judgments</hi> --- evaluate causal agents and their effects; and <lb /> <hi rend="italic">suggest remedies</hi> --- offer and justify treatments for the problems and predict their likely effects. </quote>
      </p>

      <p xml:lang="en">Following this we offer the following elements that demarcate part of a text that bears some role in a frame: <list>
          <item>
            <gi>point</gi>: a point of issue in a narrative. This corresponds to the <hi rend="italic">problem definition</hi> in Entman's definition. </item>
          <item>
            <gi>subPoint</gi>: a sub-point of a point, which is a sub-problem that the text addresses. </item>
          <item>
            <gi>blame</gi>: an attribution of responsibility for the problem. This corresponds to the <hi rend="italic">moral evaluation</hi> in Entman's definition. </item>
          <item>
            <gi>cause</gi>: an attribution of causation or explanation for the problem. This corresponds to the <hi rend="italic">causal interpretation</hi> in Entman's definition. </item>
          <item>
            <gi>conseq</gi>: an expectation of the development of the problem. This is in the opposite direction of the cause. </item>
          <item>
            <gi>treatment</gi>: a proposal to solve the problem. This corresponds to the <hi rend="italic">treatment recommendation</hi> in Entman's definition. </item>
        </list>
      </p>
      <p xml:lang="ja"> Entmanの定義にしたがって，フレームの一部を成すテキストの部分を囲んでアノテーションするための要素を以下に挙げます。<list>
          <item>
            <gi>point</gi>：ナラティブにおける問題点です。Entmanの定義における <hi rend="italic" xml:lang="en">problem definition</hi> に相当します。</item>
          <item>
            <gi>subPoint</gi>：pointのサブポイントで，テキストが扱うサブ問題です。</item>
          <item>
            <gi>blame</gi>：問題に対する責任の帰着です。Entmanの定義における <hi rend="italic" xml:lang="en">moral evaluation</hi> に相当します。</item>
          <item>
            <gi>cause</gi>：問題の原因や説明です。Entmanの定義における <hi rend="italic" xml:lang="en">causal interpretation</hi> に相当します。</item>
          <item>
            <gi>conseq</gi>：問題の発展の見込みです。<gi>cause</gi>とは逆方向になります。</item>
          <item>
            <gi>treatment</gi>：問題を解決するための提案です。Entmanの定義における <hi rend="italic" xml:lang="en">treatment recommendation</hi> に相当します。</item>
        </list>
      </p>

      <p xml:lang="en">As Entman (1993: 52) notes, <quote>framing essentially involves <hi rend="italic">selection</hi> and <hi rend="italic">salience</hi>.</quote> This means that not every discourse segment is qualified as a frame; it is a frame only if it delivers a particular aspect of a matter in the real world in a salient way that this aspect is mentioned more than, emphasized more than, or totally overriding, other competing alternatives. The process of the scrutiny is up to annotators, but for the sake of explication of such a process, we offer the <gi>category</gi> attribute and the <gi>kw</gi> element to mark such an aspect with the category/categories that that aspect should belong to. </p>

      <p xml:lang="ja"> Entman (1993: 52) が指摘するように，フレームは本質的に <hi>選択（selection）</hi> と <hi>顕著性（salience）</hi> を伴います。 したがって，すべての談話がセグメントがフレームとして適格だというわけではありません。 特定の事象の側面に言及する談話のセグメントが，他のありうる側面よりも多く言及されたり，強調されたり，あるいは他の側面を完全に覆い隠すような場合にのみ，フレームたりえます。 フレームの選定のプロセスはアノテーターに委ねられますが，そのプロセスをアノテータ―が明示できるように，<gi>category</gi>属性と<gi>kw</gi>要素をここでは提供します。 </p>

      <p xml:lang="en"> In addition to frames, we assume that <term>attitudes</term> (in terms of linguistics) are also important axis to analyze a text. An attitude is a linguistic expression that expresses a stance towards a proposition and/or an entity. In this regard, all frame roles (and in fact, all the text) is an expression of an <term>attitude holder</term> (in most cases, the article correspondent(s)) towards the event at issue. This is why we offer the <gi>from</gi> attribute and the <gi>from</gi> element to specify <term>attitude holders</term>. Besides, some attitudes are (also) directed to an actor, which can be specified with the <gi>to</gi> attribute or the <gi>to</gi> element. </p>

      <p xml:lang="ja"> フレームに加えて，（言語学的な意味での）<term>態度</term>もテキストを分析する上で重要な軸であると考えます。態度とは，命題や事物に対する立場を表す言語表現です。この点で，全てのフレーム役割（そして，そもそもあらゆるテキスト）は，問題となる事象に対する<term>態度保持者</term>（多くの場合は記事の記者）の態度の表現です。<gi>from</gi>属性と<gi>from</gi>要素が提供されているのはこのためです。さらに，一部の態度は事物だけでなく人物にも向けられることがあり，その場合は<gi>to</gi>属性や<gi>to</gi>要素で指定できます。</p>

      <p xml:lang="en">Attitudes may be related to a frame but independent of its roles. In such a case, the <gi>att</gi> element can be used to mark an attitude expression.</p>
      <p xml:lang="ja">態度はフレームに関連するもののフレームの役割とは独立していることもあります。その場合は，<gi>att</gi>要素を用いて態度表現をマークできます。</p>

      <schemaSpec ident="frame" start="TEI" prefix="tei_" targetLang="en" docLang="en">
        <constraintDecl scheme="schematron" queryBinding="xslt3">
          <sch:ns prefix="tei" uri="http://www.tei-c.org/ns/1.0" />
        </constraintDecl>
        <!-- required minimal header elements -->
        <moduleRef key="corpus" />
        <moduleRef key="header" /> <!-- required core elements (p and title for use in titleStmt) -->
        <moduleRef key="core" /> <!-- required textstructure elements (TEI, text, and body) -->
        <moduleRef key="textstructure" /> <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
        <moduleRef key="tei" />
        <moduleRef key="tagdocs" />
        <moduleRef key="namesdates" />
        <moduleRef key="analysis" include="s" />
        <moduleRef key="linking" include="standOff" />
        <moduleSpec ident="frame" mode="add" />
        <elementSpec ident="attrib" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies expressions that express attitudes.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">態度表現をマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.holdable" />
            <memberOf key="att.targetable" />
            <memberOf key="att.polarized" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
          <attList>
            <attDef ident="frame" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-05-24" xml:lang="en">The frame role that this attitude belongs to. Omittable if it is contained in a frame role tag.
              </desc>
              <desc versionDate="2025-05-24" xml:lang="ja">この態度表現が属するフレーム役割です。フレーム役割の要素の中に含まれる場合，指定の必要はありません。</desc>
              <datatype>
                <dataRef name="string" />
              </datatype>
              <valList />
            </attDef>
          </attList>
          <exemplum xml:lang="en">
            <p>An example of an attitude expression:</p>
            <eg:egXML xml:space="preserve" xmlns:f="http://github.com/projekt-UA/TEI-frame">
<p>This accident was so <f:attrib f:frame="accident_1" f:from="writer" f:to="injured" pol="-">unfortunate</f:attrib>.</p>
            </eg:egXML>
          </exemplum>
          <exemplum xml:lang="en">
            <p>Another example of an attitude expression. The expression is neutral in this case.</p>
            <eg:egXML xml:space="preserve" xmlns:f="http://github.com/projekt-UA/TEI-frame">
<p>
  <f:from>John</f:from> <f:attrib f:frame="a1" f:pol="0">regarded</f:attrib>
  <f:to>Mary</f:to> as a foreigner. 
</p>
            </eg:egXML>
          </exemplum>
          <exemplum xml:lang="en">
            <p>An example where the attitude expression occurs in a blaming frame role: </p>
            <eg:egXML xml:space="preserve" xmlns:f="http://github.com/projekt-UA/TEI-frame">
<p>
  <f:blame frame="bribe_3">
    <f:from>The prime minister</f:from> <f:attrib pol="-">strongly accused</f:attrib>
    <f:to>the opposition party</f:to> of bribing the public servants. </f:blame>
</p>
            </eg:egXML>
          </exemplum>
        </elementSpec>
        <elementSpec ident="eval" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-06-24" xml:lang="en">specifies expressions that express evaluation to targets.
            This is distinct from attitude expressions in that </desc>
          <desc versionDate="2025-06-24" xml:lang="ja">評価的な表現（形容詞句・副詞句など）をマークします。言表表現とは異なり，命題を項として取りません。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.holdable" />
            <memberOf key="att.targetable" />
            <memberOf key="att.polarized" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
          <attList>
            <attDef ident="frame" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-06-24" xml:lang="en">The frame role that this attitude belongs to. Omittable if it is contained in a frame role tag.
              </desc>
              <desc versionDate="2025-06-24" xml:lang="ja">この態度表現が属するフレーム役割です。フレーム役割の要素の中に含まれる場合，指定の必要はありません。</desc>
              <datatype>
                <dataRef name="string" />
              </datatype>
              <valList />
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="point" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies one of the points of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">フレームの構成要素として，問題とする事象マークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
          <exemplum xml:lang="en">
            <p>A first example:</p>
            <eg:egXML xml:space="preserve" xmlns:f="http://github.com/projekt-UA/TEI-frame">
<p>
  A huge buffer zone has been created behind the border. [...] 
  However, <f:point f:name="slowness">movement to the distribution 
  points is slow.</f:point>
  (Deutsche Welle 2025-05-25)
</p>
            </eg:egXML>
          </exemplum>
          <exemplum xml:lang="en">
            <p>Another example with a specific attitude holder:</p>
            <eg:egXML xml:space="preserve" xmlns:f="http://github.com/projekt-UA/TEI-frame">
<p>
  <f:point f:name="looting"><f:from>Israel</f:from> justified its complete blockade from March 2 by saying that <f:content>
      Hamas, the militant Islamist group that rules Gaza 
      and is classified as a terrorist organization by many states,
      was looting supplies.
    </f:content>
  </f:point>
  (Deutsche Welle 2025-05-25)
</p>
            </eg:egXML>
          </exemplum>
        </elementSpec>
        <elementSpec ident="subPoint" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies one of the sub-points of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">フレームの構成要素として，サブ問題をマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="blame" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies a blame of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">フレームの構成要素として，責任の帰着をマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="att.targetable" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="cause" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies a cause of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">フレームの構成要素として，問題の原因をマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="att.causation" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="conseq" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies one of the conseqs of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">フレームの構成要素として，問題とする事象の発展の見込みをマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="att.causation" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="treatment" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies a proposal of treatment of a frame.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">フレームの構成要素として，問題に対する解決策をマークします。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="att.frameRole" />
            <memberOf key="att.targetable" />
            <memberOf key="model.frameRole" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="attContent" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-26" xml:lang="en">specifies the content of a frame role or an attitude, excluding attitude holders and targets.</desc>
          <desc versionDate="2025-05-26" xml:lang="ja">態度保持者や態度の向け先を除いたフレーム役割や態度の内容を指定します。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
          <exemplum xml:lang="en">
            <p>An example:</p>
            <eg:egXML xml:space="preserve" xmlns:f="http://github.com/projekt-UA/TEI-frame">
<p>
  <f:point f:name="looting"><f:from>Israel</f:from> justified its complete blockade from March 2 by saying that <Content>
      Hamas, the militant Islamist group that rules Gaza 
      and is classified as a terrorist organization by many states,
      was looting supplies.
    </Content>
  </f:point>
  (Deutsche Welle 2025-05-25)
</p>
            </eg:egXML>
          </exemplum>
        </elementSpec>
        <elementSpec ident="frameSet" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies that the text segment belongs to one or more frame roles.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">複数のフレーム役割が同一のテキストの部分に割り当てられるとき，そのテキストの当該部分を指定するためのものです。当該箇所をこのタグで囲み，このタグの内側に空の役割タグを加えることで，加えられた全ての役割タグが当該箇所に関連付けられます。</desc>
          <classes>
            <memberOf key="att.global" />
            <memberOf key="att.typed" />
            <memberOf key="model.segLike" />
          </classes>
          <content>
            <sequence>
              <classRef key="model.frameRole" minOccurs="1" maxOccurs="unbounded" />
              <macroRef key="macro.paraContent" />
            </sequence>
          </content>
          <exemplum xml:lang="en">
            <eg:egXML xml:space="preserve" xmlns:f="http://github.com/projekt-UA/TEI-frame">
<p>
  <f:frameSet>
    <f:point f:name="blockade" />
    <f:blame f:name="looting" />
    <f:from>Israel</f:from> justified its complete blockade from March 2 
    by saying that Hamas, the militant Islamist group that rules Gaza 
    and is classified as a terrorist organization by many states, 
    was looting supplies. 
  </f:frameSet>
  (Deutsche Welle 2025-05-25)
</p>
            </eg:egXML>
          </exemplum>
        </elementSpec>
        <elementSpec ident="kw" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">
            specifies a keyword that represents a category of a frame (role).
            This can spare the need to explicitly specify the category attribute of a frame role.
          </desc>
          <desc versionDate="2025-05-24" xml:lang="ja">
            フレーム（役割）の範疇を表すキーワードを指定します。
            これにより，フレーム役割の`category`属性を明示的に指定する必要がなくなります。
          </desc>
          <classes>
            <memberOf key="model.segLike" />
            <memberOf key="att.categorizable" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
          <exemplum xml:lang="en">
            <eg:egXML xml:space="preserve" xmlns:f="http://github.com/projekt-UA/TEI-frame">
<p>A huge buffer zone has been created behind the border. 
[...] 
However, <f:point f:name="slowness">movement to the <f:kw f:category="humanitarianism">distribution</f:kw> points is slow.</f:point> 
(Deutsche Welle 2025-05-25)</p>
            </eg:egXML>
          </exemplum>
        </elementSpec>
        <elementSpec ident="from" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">
            specifies a holder of a frame role or an attitude.
            This can spare the need to explicitly specify the `from` attribute of a frame role or an attitude.
          </desc>
          <desc versionDate="2025-05-24" xml:lang="ja">
            フレーム役割や態度の保持者を指定します。
            これにより，フレーム役割や態度の`from`属性を明示的に指定する必要がなくなります。
          </desc>
          <classes>
            <memberOf key="model.segLike" />
            <memberOf key="att.referring" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <elementSpec ident="to" ns="http://github.com/projekt-UA/TEI-frame" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">
            specifies a target of an attitude.
            This can spare the need to explicitly specify the `to` attribute of an attitude.
          </desc>
          <desc versionDate="2025-05-24" xml:lang="ja">
            態度の向け先を指定します。
            これにより，態度の`to`属性を明示的に指定する必要がなくなります。
          </desc>
          <classes>
            <memberOf key="model.segLike" />
            <memberOf key="att.referring" />
          </classes>
          <content>
            <macroRef key="macro.paraContent" />
          </content>
        </elementSpec>
        <classSpec ident="att.holdable" type="atts" mode="add" module="frame">
          <desc></desc>
          <classes />
          <attList>
            <attDef ident="from" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-05-24" xml:lang="en">The actor that bears the content of this frame role in mimd. It may be explicitly specified by `&lt;from&gt;` in the text.</desc>
              <desc versionDate="2025-05-24" xml:lang="ja">内容を思っている主体です。テキスト内の語句で推定できる場合，`&lt;from&gt;`要素で代わりに指定できます。</desc>
              <datatype>
                <!-- <dataRef name="string" restriction="[\w-]+(;[\w-])?" /> -->
                <dataRef name="string" />
              </datatype>
              <defaultVal>correspondent;correspondent</defaultVal>
              <valDesc versionDate="2025-05-24" xml:lang="en">An entity.</valDesc>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.targetable" type="atts" mode="add" module="frame">
          <classes />
          <attList>
            <attDef ident="to" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <datatype>
                <!-- <dataRef name="string" restriction="[\w-]+(;[\w-])?" /> -->
                <dataRef name="string" />
              </datatype>
              <defaultVal>reader;reader</defaultVal>
              <valDesc versionDate="2025-05-24" xml:lang="en">The entity that the attitude is directed to. Omittable when specified in text by `&lt;to&gt;` .
              </valDesc>
              <valDesc versionDate="2025-05-24" xml:lang="ja">態度の向け先（話しかける先，もしくは評価の対象）の主体です。テキスト内の語句で推定できる場合，`&lt;to&gt;`要素で代わりに指定できます。
              </valDesc>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.frameRole" type="atts" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">defines common attributes for frame roles.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">フレーム役割に共通の属性を定義します。</desc>
          <classes>
            <memberOf key="att.categorizable" />
          </classes>
          <attList>
            <attDef ident="name" usage="req" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-05-24" xml:lang="en">The name of the frame role. Unique in the document.</desc>
              <desc versionDate="2025-05-24" xml:lang="ja">フレームの名前です。この名前は，ドキュメント内において一義的です。
              </desc>
              <datatype>
                <!-- <dataRef name="string" restriction="\w+" /> -->
                <dataRef name="string" />
              </datatype>
              <valDesc versionDate="2025-05-24" xml:lang="en">A string that begins with an alphabet and consists of alphabets, numbers, and the underscore.
              </valDesc>
              <valDesc versionDate="2025-05-24" xml:lang="ja">アルファベットで始まり，アルファベット，数字，アンダースコアからなる文字列です。
              </valDesc>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.referring" type="atts" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">defines common attributes for referring elements.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">参照を表す要素に共通の属性を定義します。</desc>
          <classes />
          <attList>
            <attDef ident="ref" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-05-24" xml:lang="en">The referrent</desc>
              <desc versionDate="2025-05-24" xml:lang="ja">指示対象です。</desc>
              <datatype>
                <!-- <dataRef name="string" restriction="[\w-](;[\w-])?" /> -->
                <dataRef name="string" />
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.categorizable" type="atts" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">defines common attributes for categorizable elements.</desc>
          <desc versionDate="2025-05-24" xml:lang="ja">カテゴリ化可能な要素に共通の属性を定義します。</desc>
          <classes />
          <attList>
            <attDef ident="cat" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-05-24" xml:lang="en">The category of the frame role. It may be inferred by keywords within and be spared from explicit specification.</desc>
              <desc versionDate="2025-05-24" xml:lang="ja">フレームが属する範疇です。テキスト内の語句で推定できる場合，指定の必要はありません。</desc>
              <datatype>
                <!-- <dataRef name="string" restriction="\w(,\w)*" /> -->
                <dataRef name="string" />
              </datatype>
              <valDesc versionDate="2025-05-24" xml:lang="en">Labels delimited by commas.
              </valDesc>
              <valDesc versionDate="2025-05-24" xml:lang="ja">ラベルの列で，`,`で区切られたものです。
              </valDesc>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.causation" type="atts" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">specifies the existence of (spatio-temporal) causation.</desc>
          <classes />
          <attList>
            <attDef ident="causative" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <datatype>
                <dataRef name="boolean" />
              </datatype>
              <valDesc versionDate="2025-05-24" xml:lang="en">true if the frame is causative. Defaults to true.
              </valDesc>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.polarized" type="atts" mode="add" module="frame">
          <desc versionDate="2025-06-24" xml:lang="en">specifies emotional polarities.</desc>
          <classes />
          <attList>
            <attDef ident="pol" usage="opt" ns="http://github.com/projekt-UA/TEI-frame">
              <desc versionDate="2025-05-24" xml:lang="en">The polarity of the attitude.
              </desc>
              <desc versionDate="2025-05-24" xml:lang="ja">態度の極性です。</desc>
              <datatype>
                <dataRef key="teidata.enumerated" />
              </datatype>
              <defaultVal>0</defaultVal>
              <valList type="closed">
                <valItem ident="+" />
                <valItem ident="-" />
                <valItem ident="+-" />
                <valItem ident="-+" />
                <valItem ident="0" />
                <valItem ident="scare-quote" />
              </valList>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="model.frameRole" type="model" mode="add" module="frame">
          <desc versionDate="2025-05-24" xml:lang="en">groups elements that represent frame roles.</desc>
          <classes />
        </classSpec>
        <constraintSpec ident="frameSet-frameRole-empty" scheme="schematron">
          <constraint>
            <sch:rule context="tei:frameSet/(tei:point | tei:blame | tei:cause | tei:conseq | tei:treatment)">
              <sch:assert test="not(node())">A frame role in a frameSet should contain nothing.</sch:assert>
            </sch:rule>
          </constraint>
        </constraintSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>